<h1>Items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>
      Required fields
      (of <%= MetadataMapper.required_fields.length %>)
    </th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.name, item %></td>
      <td><%= item.number_required %></td>
    </tr>
  <% end %>
</table>
